<!-- ios translucent feature header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tasks </ion-title>
  </ion-toolbar>
</ion-header>

<!-- non-translucent header for android -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  @for (task of tasks; track task; let index = $index) {
  <ion-card [color]="getColor(task.priority_level)">
    <ion-card-header>
      <ion-card-title>{{ task.title }}</ion-card-title>
      <ion-card-subtitle>{{ task.priority_level }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ task.description }}
      <ion-row class="ion-justify-content-end ion-margin-top">
        <ion-button fill="outline" size="small" color="primary" (click)="openForm(task.id)">
          <ion-icon name="create-outline" color="success"></ion-icon>
          Edit
        </ion-button>
        <ion-button
          fill="outline"
          size="small"
          color="dark"
          (click)="delete(task.id)"
        >
          <ion-icon name="trash" color="dark"></ion-icon>
          Delete
        </ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
  }

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="openForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
